.nav {
}

.hamburger {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5rem;
    cursor: pointer;
    transition: ease-in 0.1s;
}
.headers {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5rem;
    cursor: pointer;
    transition: ease-in 0.1s;
    font-family: 'Exo 2', sans-serif;
    font-size: 3rem;
}
.hamburger:hover {
    transform: scale(1.1);
}

.tabs {
    position: fixed;
    width: auto;
    right: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.829);
    transition: ease 0.1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 768px) {
    .tabs {
        width: 100vw;
    }
}

.tabs ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 30vw;
    transition: all ease 0.1s;
    padding-top: 6em;
    text-align: center;
    text-decoration: none !important;
    display: flex;
    flex-direction: column;
}

.tabs ul a {
    text-decoration: none !important;
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    font-size: 2rem;
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    transition: all ease 0.2s;
}

.tabs ul a:hover {
    background-color: rgba(109, 109, 109, 0.9);
}

.socials {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 4em;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 3em;
    color: #fff;
}
.socials .socials-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 1em;
}

.socials img {
    width: 4rem;
    transition: all ease 0.2s;
    cursor: pointer;
    padding: 1rem;
}
.socials img:hover {
    transform: scale(1.1);
    background-color: rgba(90, 90, 90, 0.322);
    border-radius: 25%;
}

.copyright {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    color: white;
}

.Typist .Cursor {
    display: none;
}
